    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.firs_name}}" placeholder="First name" name="firs_name">
            <label for="floatingInput">First name</label>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="Last name" name="last_name">
            <label for="floatingInput">Last name</label>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com" name="email">
            <label for="floatingInput">Email</label>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
            <label for="floatingInput">Phone</label>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput" placeholder="Comments" name="comments" style="height: 200px;">{{this.comments}}</textarea>
            <label for="floatingInput">Comments</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>